/* Import Noto Sans + Serif JP */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --mycolor-white: #f8f9fa;
    --mycolor-darkgray: #2d3d44;
    --mycolor-blue: #1d3a9b;
    --mycolor-gray: #cfcfcf;
    --mycolor-gray2: #ececec;
    --my-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --sans-font: 'Inter', 'Arial', 'Noto Sans JP', sans-serif;
    --serif-font: 'Times New Roman', 'Noto Serif JP', serif;
    --size-h1: calc(1.3rem + 1.2vw);
    --size-h2: calc(1.3rem + 0.6vw);
    --size-h3: calc(1.275rem + 0.3vw);
    --size-h4: 1.25rem;
    --size-h5: 1rem;
    --size-h6: 1rem;
}

body {
    background-color: var(--mycolor-white);
    font-family: var(--sans-font);
    width: 80%;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--serif-font);
    font-weight: 540;
    color: var(--mycolor-darkgray);
}

h1.article {
    text-align: center;
    font-size: var(--size-h1);
}

h2 {
    font-size: var(--size-h2);
    border-bottom: double 3px var(--mycolor-darkgray);
    padding-left: 0.2rem;
    line-height: 1.4;
}

h3 {
    font-size: var(--size-h3);
    padding-left: 0.3rem;
}

h4 {
    font-size: var(--size-h4);
    padding-left: 0.3rem;
}

h5, h6 {
    font-size: var(--size-h5);
    padding-left: 0.3rem;
}

p, ul {
    margin-left: 0.6rem;
}

a {
    text-decoration: none;
    transition: 70ms ease-out;
    color: var(--mycolor-blue);

    &:hover {
        opacity: 0.7;
    }
}

.table-container {
    overflow-x: auto;
    max-width: 90%;
}

table {
    border-collapse: collapse;
    background-color: white;
    margin: 20px 0;
    box-shadow: var(--my-shadow);

    > * > * > th,
    > * > * > td {
        border: solid 0.01em;
        border-color: var(--mycolor-gray);
        padding: 0.3em 0.6em;
        text-align: left;
        vertical-align: middle;
        text-wrap: nowrap;
    }

    > * > * > th {
        font-weight: 500;
    }

    > * > tr:nth-child(even) {
        background-color: var(--mycolor-gray2);
    }
}

.font-sans {
    font-family: var(--sans-font);
}

.font-serif {
    font-family: var(--serif-font);
}

.text-centre {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}
